#main-header {
  background: #ffffff;
  height: 72px;
  border-bottom: 1px solid #ddd;
}

#main-header .header-content {
  margin: 0 auto;
  height: 72px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
